{% extends "mainpart/base.html" %}
{% block title %}Publications{% endblock %}
{% block active_publications %} active{% endblock %}
{% block content %}
	<!-- content -->
        <div class="content contentInner">
        
		<!-- leftCol -->
        	<div class="leftCol">
        		<div class="leftMenu">
        			<nav>
        				<ul>
							{% for publication in publications %}
        					<li {%if publication.id == cur.id %}class="current"{% endif %}><a href="{% url mainpart.views.publications publication.id %}">{{ publication.name }}</a></li>
							{% endfor %}
        				</ul>
        			</nav>
        		</div>

        	</div>
		<!-- / leftCol -->

		<!-- rightCol -->
            <div class="rightCol">
            	<img class="leftImg" src="{{ STATIC_URL }}publications/{{ cur.picture }}" alt="">
                <h1>{{ cur.name }}</h1>
            	<p>{{ cur.all_info }}</p>
            
            </div>
		<!-- / rightCol-->
            <div class="clear"><!-- clear --></div>
            
            <div class="up">UP</div>
            
        </div>
	<!-- / content -->
{% endblock %}