{% extends "mainpart/base.html" %}
{% load i18n %}
{% load taggit_extras%}
{% block title %}Main page{% endblock %}
{% block js %}<script src="{{STATIC_URL}}js/jquery.tools.min.js"></script>{% endblock %}

{% block slider %}
	<!-- slider --> 
        <div class="slider">
	        <div class="sliderCont">
	            <button class="backward">Backward</button>
	        	<ul>
				{% for slide in sliders %}
	        		<li>
	        			<img src="{{ STATIC_URL }}slides/{{ slide.picture }}" alt="">
	        			<div class="text">
	        				<h2>{{ slide.title }}</h2>
	        				<p>{{ slide.text }}</p>
	        			</div>
	        		</li>
				{% endfor %}
	        	</ul>
	            <button class="forward">Forward</button>
				
				<div class="slidetabs">
					{%for slide in sliders %}
						<a href="#">{{ forloop.counter }}</a>
					{% endfor %}
				</div>
	        </div>
        </div>
	<!-- /slider -->
{% endblock %}



{% block content %}


	<!-- content -->
        <div class="content">
        
		<!-- leftCol -->
        	<div class="leftCol">
            
			<!-- news--> 
        		<div class="news">
        			<h2> {% trans "News" %}</h2>
        			<ul>
					{% for newspost in newsposts %}
        				<li>
        					<img src="{{ STATIC_URL }}news/{{ newspost.picture }}" alt="">
        					<h3>{{ newspost.contents.name }}</h3>
        					<div class="date">{{ newspost.time }}</div>
        					<p>{{ newspost.contents.description }}</p>
        					<div class="more"><a href="{% url 'mainpart.views.news' newspost.id %}">{% trans "More"%}&gt;&gt;</a></div>
        				</li>
					{% endfor %}
        			</ul>
        		</div>
			<!--/ news -->
            
			{%comment%}
			<!-- video -->
                <div class="video">
        			<h2>{% trans "Video courses" %}</h2>
        			<ul>
        				<li>
							{% if videotype == 0 %}
							<iframe width="560" height="315" src="{{videocourse.path}}" frameborder="0" allowfullscreen></iframe>
							{% endif %}
							{% if videotype == 1 %}
							<video>
							 <source src="{{ STATIC_URL }}videos/{{ videocourse.path }}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
							</video>
							{% endif %}
                            <div class="videoText">
	        					<h3>{{ videocourse.name }}</h3>
	        					<p>{{ videocourse.annotation }}</p>
                            </div>
        					{%if videotype == 0 or videotype == 1%}<div class="more"><a href="{% url mainpart.views.courses 1 videocourse.id%}">{% trans "More" %}&gt;&gt;</a></div>{% endif %}
        				</li>
        			</ul>
                </div>
			<!-- video-->
            {%endcomment%}
		
			<!-- tags --> 
                <div class="tags"> 
					{%get_tagcloud as tags for 'mainpart'%}
					<h2>{% trans "TAGS" %}</h2>
        			<ul>
						{%for tag in tags%}
        					<li>
 								<!--<a href="{{ tag }}" class="size={{ tag.weight|floatformat:0 }}">{{ tag }}</a> -->
								<a href="{%url 'mainpart.views.tags' tag%}"><font size="7" color = "red">{{tag}} {{tag.weight}}</font></a>
							</li>
						{%endfor%}
        			</ul>
               </div>
			<!--tags-->

	
        </div>
		<!-- / leftCol -->
		
		<!-- rightCol -->
            <div class="rightCol">
            
			<!-- courses -->
            	<div class="all">
            		<h2> {% trans "Courses" %}</h2>
            		<ul>
						{% for course in courses %}
						<li><a href="{% url 'mainpart.views.courses' 0 course.id%}">{{ course.contents.name }}</a></li>
						{% endfor %}
            		</ul>
            	</div>
			<!-- /courses -->

			<!-- teachers -->
                <div class="teachers">
                	<h2> {% trans "Researchers" %}</h2>
                	<ul>
					{% for person in directors %}
                		<li>
                			<img src="{{ STATIC_URL }}photos/{{ person.personal.photo }}" alt="">
                            <h3> {{ person.person_id.surname }} {{ person.person_id.name }}</h3>
							<p>Director</p>
                			<p>{{ person.contacts.email }}</p>
                		</li>
					{% endfor %}
                	{% for person in res_ass %}
                		<li>
                			<img src="{{ STATIC_URL }}photos/{{ person.personal.photo }}" alt="">
                            <h3> {{ person.person_id.surname }} {{ person.person_id.name }}</h3>
							<p>Researcher</p>
                			<p>{{ person.contacts.email }}</p>
                		</li>
					{% endfor %}
					{% for person in workers %}
                		<li>
                			<img src="{{ STATIC_URL }}photos/{{ person.personal.photo }}" alt="">
                            <h3> {{ person.person_id.surname }} {{ person.person_id.name }}</h3>
							<p>Worker</p>
                			<p>{{ person.contacts.email }}</p>
                		</li>
					{% endfor %}

				</ul>
                </div>
			<!-- / teachers -->
            
            </div>
		<!-- / rightCol-->
            <div class="clear"><!-- clear --></div>
            
            <div class="up">UP</div>
            
        </div>
	<!-- / content -->
{% endblock %}
